{% extends "layout.html" %}
{% block body %}
<style>li{display: block;}</style>
<div class="row">
    <div class="col-sm-8">
        <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" name="title" class="form-control" id="title" required>
                <label for="category">Category:</label>
                <input type="text" name="category" class="form-control" id="category" required>
                <label for="text">Text:</label>
                <textarea type="text" name="text" class="form-control" id="text" rows="5" required></textarea>
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <form action="{{ url_for('show_entries') }}" method="get" id="filter">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="categories">Filter
                <span class="caret"></span></button>
                <ul list-style-type="none" class="dropdown-menu">
                    <li><a data-value="noFilter">Show All</a></li>
                    {% for entry in entries %}
                        <li><a data-value="{{ entry.category }}">{{ entry.category }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <input type="hidden" name="selected_category" id="selected_category">
        </form>
        <br>
        {% for entry in filtered_entries %}
            <li>
                <form action="{{ url_for('delete_entry') }}" method="post">
                    <input type="hidden" name="title" value="{{ entry.title }}">
                    <input type="hidden" name="category" value="{{ entry.category }}">
                    <input type="hidden" name="text" value="{{ entry.text }}">
                    <input type="hidden" name="id" value="{{ entry.id }}">
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading">{{ entry.title }} - {{ entry.category }}</div>
                            <div class="panel-body">{{ entry.text|safe }}</div>
                            <div class="panel-footer">
                                <input type="submit" value="Edit" name="edit">
                                <input type="submit" value="Delete" name="delete">
                            </div>
                        </div>
                    </div>
                </form>
            </li>
        {% else %}
            <li><em>Unbelievable. No entries here so far</em></li>
        {% endfor %}
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    var dropdownItems = document.querySelectorAll('.dropdown-menu a');
    dropdownItems.forEach(function(item) {
        item.addEventListener('click', function() {
            var selectedCategory = this.getAttribute('data-value');
            document.getElementById('selected_category').value = selectedCategory;
            document.getElementById('filter').submit();
        });
    });
    });
</script>
{% endblock %}
